<div class="row collapse">
<div class="small-8 columns">
  <form class="form"><%= form_for (list) do |f| %>
    <div class="fieldset">
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
    </div>
<!-- fix labels -->
    <div class="fieldset">
      <%= f.label :description %><br>
      <%= f.text_field :description %><br>
    </div>

    <div class="actions">
      <input type="hidden" name="list[user_id]" value="<%=user.id%>">
      <%= f.submit 'Create a new curated list',  class: "button radius"%>
    </div>
  <% end %>
  </form>
</div>
</div>
