<h1 class="name-header"><%=@list.name.titleize%></h1>
  <br>
    <p><%=@list.description%></p>
  <br>
<div class="row">
    <div class="large-6 columns">
      <img src="<%= asset_path('comment_photo.png') %>" height="200px">
    </div>
    <div><h4>Try these places:</h4></div>
  <div class="large-6 columns">
      <%@list.stores.each do |store| %>
        <div class="curated-list-items">
          <p>
            <h5><a href="/stores/<%=store.yelp_id%>"><%= store.name.capitalize %></a></h5>
              <img class="img" src="<%=store.img_url%>" height="50px">
          </p>
        </div>
      <% end %>
    </div>
</div>

<%if logged_in? && @user == current_user%>
  <form action="/lists/<%=@list.id%>" method="post">
    <%=token_tag%>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete This List">
  </form>
<%end%>

<br>
<div class="footer sticky">
  <p>Created by <%= @list.user.username.capitalize %></>
</div>