<h1 class="name-header"><%=@list.name.titleize%></h1>
  <br>
    <p><%=@list.description%></p>
  <br>


  <%@list.stores.each do |store| %>
    <div class="currated-list-items">
      <p>
        <a href="/stores/<%=store.yelp_id%>"><%= store.name %></a>
      </p>
    </div>
  <% end %>



<%if logged_in? && @user == current_user%>
  <form action="/lists/<%=@list.id%>" method="post">
    <%=token_tag%>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete this list">
  </form>
<%end%>

<br>
  <h5>Created by <%= @list.user.username.capitalize %></h5>
