<div class=" height">
  <div class="row"></div>
    <div class="small-10 columns small-offset-1 center" id="map_canvas"></div>
  </div>


<div id="control_container"></div>


<div id="map_search">
  <div class="row has-form">
    <form class='form'>
      <div class="large-6 small-6 columns">
        <input type="text" name="term" id="search-term", placeholder="Enter Food" value="<%=@search_term%>">
      </div>
      <div class="large-6 small-6 columns">
        <input type="text" name="location" placeholder="Enter Location" id="search-location" value="<%=@search_location%>">
      </div>
        <input type="hidden" name="category_filter" value="Food" id="search-term">
      <div class="large-3 small-3 columns">
        <input type="submit" id="map_search_submit" value="Submit" class="button">
      </div>
    </form>
  </div>
</div>


<div class="large-12" id="index-icons-container">
  <table id="index-icons">
  <thead><h3 class="index-list-intro">Favorites from around the world!</h3></thead>
  <tbody>
    <tr>
    <td class="index-icon"><%= link_to image_tag("uk_food_flag.jpg", height: '300', width: '300'), "/lists/2"%></td>

    <td index="index-icon"><%= link_to image_tag("montreal_flag.jpg", height: '300', width: '300'), "/lists/5"%></td>

    <td index="index-icon"><%= link_to image_tag("new_zealand_flag.jpg", height: '300', width: '300'), "/lists/4"%></td>
  </tr>
  <tr>
  <td index="index-icon"><%= link_to image_tag("minnesota_flag.gif", height: '300', width: '300'), "/lists/1"%></td>

    <td index="index-icon"><%= link_to image_tag("chicago_flag.gif", height: '300', width: '300'), "/lists/8"%></td>

    <td index="index-icon"><%= link_to image_tag("buffalo_postcard.jpg", height: '300', width: '300'), "/lists/3"%></td></tr>
    </tbody>
</div>


<div class="row collapse" >
  <div class="large-3"></div>
  <div class="large-6 columns text-center" id="results"></div>
  <div class="large-3"></div>
</div>
