<h1> This is the store show <h1>
<p><%=@store.name%></p>


<h3> Found a great product at <%=@store.name%>? Let us know below: </h3>
<div id="comment-form">

</div>

<div id="comments-list">
  <% @comments.each do |comment|%>
   <ul>
    <li><h4> <%= comment.title %> </h4></li>
    <li><h5> <%= comment.body %> </h5></li>
   </ul>
  <% end %>
</div>

<div>
  <%= link_to "Home", root_path %>
</div>
