
<h1 class="large-12"> <%=@store.name%> <h1>
<div class="medium-12">
  <p><%=@store.description%></p>
</div>
<div class="medium-6"><%=@store.phone%></div>



<div id="comments-list">
  <% @comments.each do |comment|%>
   <ul>
    <li><h4> <%= comment.title %> </h4></li>
    <li><h5> <%= comment.body %> </h5></li>
   </ul>
  <% end %>
</div>

<h3> Found a great product at <%=@store.name%>? Let us know below: </h3>
<div id="comment-form">


<ul>
  <%@store.tags.each do |tag|%>
    <li><a href="/tags/<%=tag.id%>"><%=tag.name%></a></li>
  <%end%>
</ul>

<% if logged_in? %>
  <%= form_for(@store_tag) do |f| %>
    <input type="text" name="name" placeholder="Name">

    <input type="hidden" name="store_id" value="<%=@store.id%>">

    <div class="actions">
      <%= f.submit "Add tag to this business"%>
    </div>
  <% end %>

  <%= form_for(@store_list) do |f| %>
    <input type="text" name="name" placeholder="Name">

    <input type="hidden" name="store_list[store_id]" value="<%=@store.id%>">

    <div class="actions">
      <%= f.submit "Add this business to your list"%>
    </div>
  <% end %>
  <a href="/storeusers/new/<%=@store.address%>">Favorite</a>
<% end %>

</div>
