<h1><%=@store.name%><h1>


<h3> Found a great product at <%=@store.name%>? Let us know below: </h3>


  <%= link_to 'Write a Comment', "/stores/#{@store.yelp_id}/comments/new" %>



<div id="comments-list">
  <% if @comments %>
    <% @comments.each do |comment|%>
     <ul>
      <li><h4> <%= comment.title %> </h4></li>
      <li><h5> <%= comment.body %> </h5></li>
     </ul>
    <% end %>
  <% end %>
</div>


<div>
  <%= link_to "Home", root_path %>
</div>

<ul>
  <% @store.tags.each do |tag|%>
    <li><a href="/tags/<%= tag.id%>"><%= tag.name%></a></li>
  <% end%>
</ul>

<% if logged_in? %>
  <%= form_for(@store_tag) do |f| %>
    <input type="text" name="name" placeholder="Name">

    <input type="hidden" name="store_id" value="<%=@store.id%>">

    <div class="actions">
      <%= f.submit "Add tag to this business"%>
    </div>
  <% end %>

  <%= form_for(@store_list) do |f| %>
    <input type="text" name="name" placeholder="Name">

    <input type="hidden" name="store_list[store_id]" value="<%=@store.id%>">

    <div class="actions">
      <%= f.submit "Add this business to your list"%>
    </div>
  <% end %>

  <%if logged_in?%>
    <%if StoreUser.where(store_id: @store.id, user_id: current_user.id).empty?%>
      <form action="/storeusers/create/<%=@store.yelp_id%>">
        <input type="submit" value="Favorite">
      </form>
    <%else%>
      <p>This place is on your favorites</p>
    <%end%>
  <%end%>
<% end %>
