
<h1 class="large-12"> <%=@store.name%> <h1>
<div class="medium-12">
  <p><%=@store.description%></p>
</div>
<div class="medium-6"><%=@store.phone%></div>


<h3> Found a great product at <%=@store.name%>? Let us know below: </h3>


  <%= link_to 'Write a Comment', "/stores/#{@store.yelp_id}/comments/new" %>


<div id="comments-list">
  <% if @comments %>
    <% @comments.each do |comment|%>
     <ul>
      <li><h4> <%= comment.title %> </h4></li>
      <li><h5> <%= comment.body %> </h5></li>
     </ul>
    <% end %>
  <% end %>
</div>

<ul>
  <% @store.tags.each do |tag|%>
    <li><a href="/tags/<%= tag.id%>"><%= tag.name%></a></li>
  <% end%>
</ul>

<% if logged_in? %>

  <%=render partial: "tags/tag", locals: {store_tag: @store_tag, store: @store}%>

  <%= form_tag(store_lists_path) do %>
    <%= hidden_field_tag("store_list[store_id]", @store.id) %>
    <%= collection_select(:store_list,:list_id, current_user.lists, :id, :name) %>

    <div class="actions">
      <%= submit_tag "Add this business to your list"%>
    </div>
  <% end %>

  <%if logged_in?%>
    <%if StoreUser.where(store_id: @store.id, user_id: current_user.id).empty?%>
      <form action="/storeusers/create/<%=@store.yelp_id%>">
        <input type="submit" value="Favorite">
      </form>
    <%else%>
      <p>This place is on your favorites</p>
    <%end%>
  <%end%>
<% end %>

</div>
