<h2>Welcome <%= @user.username.capitalize %>!</h2>

<div class="small-8 columns"><h3>Curated Lists</h3>
  <ul class="list">
    <% if !@lists.empty? %>
      <% @lists.each do |list| %>
        <li><a href="/lists/<%=list.id%>"><%=list.name%></a></li>
        <li><%=list.description%></li>
      <%end%>
    <%end%>
    <% if logged_in? && current_user.id == @user.id %>
    <h5>Create a New List</h5>
    <%=render partial: "lists/list", locals: {list: @list, user: @user}%>
  <% end %>
  </ul>
</div>


<div class="small-8 columns">
  <h3>Favorite Places:</h3>
    <div class="small-6 columns" class="list">
      <ul>
        <% @user.stores.each do |store| %>
          <li><a href="/stores/<%=store.id%>"><%=store.name%></a></li>
        <%end%>
      </ul>
    </div>
</div>
