<h1 class="name-header">Welcome <%= @user.username.capitalize %>!</h1><br>
<div class="large-12 columns"><h3>Curated Lists</h3><br>
  <ul class="list">
    <% if !@lists.empty? %>
      <% @lists.each do |list| %>
        <div class="row">
          <div class="small-3 columns"><li><%=list.name%></li></div>
          <div class="small-3 columns"><li><a href="/lists/<%=list.id%>"><%= image_tag(list.image_filename, width: '200') %></a></li></div>
          <div class="small-6 columns"><li><%=list.description%></li></div>
        </div>
          <hr>
      <% end %>
    <% end %>
    </ul>
</div>


<div class="small-6 columns">
  <% if logged_in? && current_user.id == @user.id %>
  <h5>Create a New List</h5>
  <%=render partial: "lists/list", locals: {list: @list, user: @user}%>
  <% end %>
</div>
<div class="small-8 columns">
  <h3>Favorite Places:</h3>
    <div class="small-6 columns" class="list">
      <ul>
        <% @user.stores.each do |store| %>
          <li><a href="/stores/<%=store.yelp_id%>"><%=store.name%></a></li>
        <%end%>
      </ul>
    </div>
</div>
