<h1> Welcome <%= @user.username %>! <h1>

<aside id='user-nav'>
	<ul>
		<li><%= link_to "Currated Lists", root_path %></li>
		<li><%= link_to "Forum", root_path %></li>
	</ul>
</aside>

<div><h3>Curated Lists</h3></div>
<div><h3>Saved Searches</h3></div>
<div>
  <%= link_to "Home", root_path %>
</div>

<% if logged_in? && current_user.id == @user.id %>
  <%=render partial: "lists/list", locals: {list: @list}%>
<% end %>

<p><%= @user.username %>'s Favorite Places:</p>
<ul>
  <%@user.stores.each do |store|%>
    <li><a href="/stores/<%=store.yelp_id%>"><%=store.name%></a></li>
  <%end%>
</ul>
