<!DOCTYPE html>
<html>
  <head>
    <title>Taste of Home Home Page</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

  </head>
  <body>
    <div id="map">
      <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: {lat: -33.8666, lng: 151.1958}
        });
      }
      </script>
    </div>
    <div id="content">
      <input type="text" id="search", placeholder="Search">
      <input type="submit" id="searchSubmit" value="Go">
      <br>
      <br>
      <hr>
      <ul>
        <%@stores.each do |store|%>
          <li><a href="/stores/<%=store.id%>"><%=store.name%></a></li>
        <%end%>
      </ul>
      <div id="contentFooter">
        <% if logged_in? %>
          <p>Welcome <%= current_user.username %>!</p>
          <%= link_to "Home", root_path %>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to "Sign Up", '/'%> <!-- check routes once they are created -->
          <%= link_to "Login", '/' %>
        <% end %>
      </div>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBeYbWaWWuljO1H6BL6pA8CUybAAqIMHM&callback=initMap">
    </script>
  </body>
</html>
