<!DOCTYPE html>
<html>
  <head>
    <title>Save a Place</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <div id="content">
      <input type="text" id="search", placeholder="Search">
      <br>
      <br>
      <hr>
      <ul>
        <%@stores.each do |store|%>
          <li><a href="/stores/<%=store.id%>"><%=store.name%></a></li>
        <%end%>
      </ul>
      <div id="contentFooter">
        <% if logged_in? %>
          <p>Welcome <%= current_user.username %>!</p>
          <%= link_to "Home", root_path %>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to "Sign Up", new_user_path %>
          <%= link_to "Login", login_path %>
        <% end %>
      </div>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBeYbWaWWuljO1H6BL6pA8CUybAAqIMHM&libraries=places&callback=initMap">
    </script>
  </body>
</html>
