<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Taste of Home Home Page</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDBeYbWaWWuljO1H6BL6pA8CUybAAqIMHM" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>

  <body>
    <header>
      <div class="row" id="header">
        <div class="large-12 columns">
          <a href="/"><h1>Taste of Home</h1></a>              
        </div>

        <div class="medium-4 columns">
          <ul class="row">
            <% if logged_in? %>
              <li><%= link_to "My Page", "/users/#{@user.id}" %></li>
              <li><%= link_to "Logout", logout_path %></li>
              <li><%= link_to "Lists", "/lists" %></li>
            <% else %>
              <li><%= link_to "Sign Up", '/users/new'%></li>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>

  </body>
</html>
