<!DOCTYPE html>
<head>
  <html lang="en">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDBeYbWaWWuljO1H6BL6pA8CUybAAqIMHM" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Taste of Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="contain-to-grid sticky" id="header">
    <div class="small-12 columns" class="row">
      <nav class="top-bar" data-topbar role="navigation">

        <div class="off-canvas-wrap" data-offcanvas>
          <div class="inner-wrap">
            <li class="toggle-topbar menu-icon left-off-canvas-toggle"><a href="#"></a>Menu</li>
              <aside class='left-off-canvas-menu'>
              <ul class="left">
                  <% if logged_in? %>
                    <li><a href="users/#{current_user.id}">My Page</a></li>
                    <li><%= link_to "Logout", logout_path %></li>
                  <% else %>
                    <li><%= link_to "Sign Up", '/users/new'%></li>
                    <li><%= link_to "Login", login_path %></li>
                  <% end %>
                    <li><%= link_to "Search by Tags", "/tags" %></li>
                    <li><%= link_to "A Curated List", "/lists/3" %></li>
                  </ul>
              </ul>
            </aside>
              <ul class="title-area">
                <li class="name">
                  <a href="/"><h1>Taste of Home</h1></a>
                </li>
              </ul>

            <a class="exit-off-canvas"></a>
          </div>
        </div>


        <section class="subheader">
          <ul class="right">
            <div class="row">
              <li class="has-form">
                <form id='search' action="/">
                  <div class="large-5 small-4 columns">
                    <% unless url_for == root_path %>
                    <label for='right-term' class="right">Search</label>
                      <input type="text" name="term" id="search-term", placeholder="Missing Home?">
                  </div>

                  <div class="large-5 small-4 columns">
                    <label for='right-location' class="right">Location</label>
                      <input type="text" name="location" placeholder="Where are you looking?" id="Location" >
                  </div>
                  <div class="large-2 small-3 columns">
                    <input type="hidden" name="category_filter" value="Food" id="search-term">
                    <input type="submit" id="map_search_submit" value="submit" class='button radius expand'>
                  </div>
                    <% end %>
                </div>
              </form>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </nav>
</div>
<div class="row"></div>
<main>
<%= yield %>
</main>


<!--   <footer class="footer sticky" id="footer">
      <div class="large-12 columns"></div>
  </footer> -->
</body>
</html>
