<!DOCTYPE html>
<head>
  <html lang="en">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDBeYbWaWWuljO1H6BL6pA8CUybAAqIMHM" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Taste of Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="contain-to-grid sticky" id="header">
    <div class="large-12 columns" style= "width: 100%">
        <div class="row">
          <div class="row">
              <ul class="title-area">
                <li class="name">
                  <a href="/"><h1 id="title-invisible">Taste of Home</h1></a>
                </li>
              </ul>
            </div>
          </div>

      <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>

        <section class="subheader">
          <nav class="subheader-nav" data-subheader role="navigation">
            <div class="row"></div>
            <ul class="left">
              <% if logged_in? %>
              <li>
                  <div class="large-12 small-4 columns">
                <div class="row">   
                <form id='search' class="has-form" action="/">
                    <% unless url_for == root_path %>
                      <input type="text" name="term" id="search-term", placeholder="Enter Search">
                  </div>
                  <div class="large-5 small-4 columns">
                      <input type="text" name="location" placeholder="Enter Location" id="Location" >
                  </div>
                  <div class="large-2 small-3 columns">
                    <input type="hidden" name="category_filter" value="Food" id="search-term">
                    <input type="submit" id="map_search_submit" value="submit" class='button radius tiny'>
                  </div>
                    <% end %>
                </form>
                  <p><a href="users/#{current_user.id}">My Page</a>  |
                  <%= link_to "Logout", logout_path %>  |
                  <%= link_to "Search by Tags", tags_path %>  |
                  <%= link_to "A Curated List", "/lists/3" %>  |
                </div>
              <% else %>
                <div class="row">
                  <%= link_to "Sign Up", '/users/new'%>  |
                  <%= link_to "Login", login_path %>  |
                  <%= link_to "Search by Tags", "/tags" %>  |
                  <%= link_to "A Curated List", "/lists/3" %>  |</p>
                </div>
              <% end %>
                </div>
            </li>
          </ul>
      </div>
    </nav>
  </section>
</div>
<div class="row"></div>
<main>
<%= yield %>
</main>


<!--   <footer class="footer sticky" id="footer">
      <div class="large-12 columns"></div>
  </footer> -->
</body>
</html>
