<!DOCTYPE html>
  <head>
    <html lang="en">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDBeYbWaWWuljO1H6BL6pA8CUybAAqIMHM" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>Taste of Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation" class="sticky">
        <div class="large-12 columns" class="row">
          <ul class="title-area">
            <li class="name">
              <a href="/"><h1>Taste of Home</h1></a>
            </li>
          </ul class="row">
            <section class="top-bar-section">
            <ul class='left'>
              <li class="divider"></li>
              <% if logged_in? %>
                <li class="divider"><%= link_to "My Page", "/users/#{current_user.id}" %></li>
                <li class="divider"><%= link_to "Logout", logout_path %></li>
              <% else %>
                <li class="divider"><%= link_to "Sign Up", '/users/new'%></li>
                <li class="divider"><%= link_to "Login", login_path %></li>
              <% end %>
            </ul>
            <ul class="right" class="row">
                <li class="divider"><%= link_to "Favorite Lists", "/lists" %></li>
                <li class="divider"><%= link_to "Search by Tags", "/tags" %></li>
            </ul>
          </section>
          <section class="subheader">
          <ul class="right" class="row">
            <% unless url_for == root_path %>
              <div class="small-4 columns" id="map_search">
                <form class='form'>
                  <input type="text" name="term" id="search-term", placeholder="Search">
                  <input type="text" name="location" placeholder="Location" id="search-location">
                  <input type="hidden" name="category_filter" value="Food" id="search-term">
                  <input type="submit" id="map_search_submit" value="submit" class='button'>
                </form>
              </div>
            <% end %>
          </ul>
          </section>
        </div>
      </div>
    </nav>
  </div>

    <%= yield %>

  </body>
</html>
